node_modules/*
client/src/utils/.idea/*
build/*
.idea/*
client/src/.idea/*

client/public/proving_key_init.bin
client/public/proving_key_move.bin

circuits/init/circuit.json
circuits/init/proof.json
circuits/init/proving_key.bin
circuits/init/proving_key.json
circuits/init/verification_key.json
circuits/init/verifier.sol
circuits/init/witness.bin
circuits/init/witness.json

circuits/move/circuit.json
circuits/move/proof.json
circuits/move/proving_key.bin
circuits/move/proving_key.json
circuits/move/verification_key.json
circuits/move/verifier.sol
circuits/move/witness.bin
circuits/move/witness.json
